.background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: conic-gradient(from 12.78deg at 28.99% 107.28%, #191817 -17.51deg, #6100C2 175.51deg, #191817 342.49deg, #6100C2 535.51deg);
}
.background-image{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../../resources/welcome-screen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}
.login-div{
    text-align: center;
    z-index: 999;
}
.enjoy-text{
    margin-top: 0px;
    margin-bottom: 40px;
}
.sign-up-link{
    text-decoration: underline;
    color: white;
    font-weight: bold;
}